
#page.menuOpen{
  .content-wrapper{

  }
  .site-header {
    margin-left:0;
    z-index:40;
    box-shadow: 2px -5px 3px #1A1A1A;
  }
}

.content-wrapper{
  z-index:30;
  margin-left:0;
}

.site-header{
  position:fixed;
  width:$size__site-sidebar;
  min-height: 100vh;
  margin-left: -$size__site-sidebar;
}

.content-area {
  flex:2;
}

.site-main {
  background: white;
  padding: $size__default-padding;
  box-shadow: 0 0 3px #ccc;
  margin-bottom:30px;
}

.widget-area{
  flex:1;

}

.site-content{
  display:flex;
  flex-direction: column;
  padding: $size__default-padding;
  min-height:90vh;
}


@media (min-width: 768px) {

  .top-bar{
    display:none;
  }
  .content-wrapper{
    margin-left:$size__site-sidebar;
  }
  .site-content{
    flex-direction: row;
    align-items: stretch;
  }

  .content-wrapper.isOpen{
      transition: transform .3s;
  }

  .site-header{
    margin-left:0;
  }

  .widget-area{
    margin-left: $size__default-padding;
  }
}




.site-footer {

}

.site-header {
}

.site-main {
}
