$color__primary: #56a0d3;
$color__secondary: rgb(39, 202, 78);
$color__gray: #313338;
$color__light-gray: #D8D8D8;

$color__background-body: #efefef;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header: $color__gray;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: #1F587B;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

